*CMakeFiles
*CMakeFiles/*
*CMakeCache*
cmake_install.cmake
*~
gitwork
work
Makefile
*sublime*
found
todo
todo_stack
getReady.sh
base_type.c
sample
compile
.vscode/
todo
vsc*
libcompound.so
CMakeLists_default.txt
CompoundTest
ccwarn
genwarn.sh
test.sh
expansion_formatted.txt
live*
gen_type_attr.c
*-workspace
build/
.cache/
*.drawio
*.md
incompleted_struct
out/
preinstall
