# CMake Building
CMakeCache.txt
CMakeFiles/
Makefile
build
build.sh
cmake-build-debug/
cmake_install.cmake
out/
todo.md

# Compound Directories
user

# Eclipse IDE
.cproject
.externalToolBuilders
.project
.settings

# Executables
CompoundTest

# JetBrains IDEA
.idea/
.idea/editor.xml
.idea/inspectionProfiles/Project_Default.xml

# Misc.
for_each
func_reg
generate_incompleted.sh
highlight.css
run
run.sh
status.h
to_fix
oop
format
abstraction
doc/*
inc/date.h
inc/datetime.h
inc/discrete.h
inc/encoding.h
inc/endian.h
inc/frame.h
inc/heap.h
inc/link.h
inc/parser.h
inc/recollector.h
inc/runtime.h
inc/stack.h
inc/stacks.h
inc/time.h
inc/version.h
src/char.c
src/endian.c
src/heap.c
src/link.c
src/parser.c
src/recollector.c
src/runtime.c
src/stacks.c
*~
