*-workspace
*.drawio
*.md
*CMakeCache*
*CMakeFiles
*CMakeFiles/*
*sublime*
*~
.build.sh.d
.cache/
.vscode/
CMakeLists_default.txt
CompoundTest
Makefile
base_type.c
build/
ccwarn
cmake_install.cmake
compile
expansion_formatted.txt
found
gen_type_attr.c
genwarn.sh
getReady.sh
gitwork
incompleted_struct
libcompound.so
live*
out/
preinstall
run.sh
sample
test.sh
todo
todo
todo_stack
vsc*
work
